@model CreateRequestTimeoffForm_Version1.Models.FormTimeOff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormTimeOff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormTimeOffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormTimeOffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequireApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequireApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequireLimitedDaysOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequireLimitedDaysOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDaysBeforeTimeOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfDaysBeforeTimeOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimitedDaysOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitedDaysOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Regulations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Regulations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Del)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Del)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalProcess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalProcess.ApprovalProcessId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTimeOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTimeOff.TypeTimeOffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormTimeOffId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
