@model TimeKeeping.Models.PersonnelApplyTimeOffPolicy

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfDaysOffLastYear)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumberOfDaysOffLastYear)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfDaysOffStandard)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumberOfDaysOffStandard)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfDaysOffSeniority)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumberOfDaysOffSeniority)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfDaysOffOffset)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumberOfDaysOffOffset)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Note)
        </dd>      
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Personnel)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Personnel.PersonnelId)
        </dd class>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TimeOffPolicy)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TimeOffPolicy.TimeOffPolicyId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonnelId" />
        <input type="hidden" asp-for="TimeOffPolicyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
