@model IEnumerable<TimeKeeping.Models.PersonnelApplyTimeOffPolicy>

@{
    ViewData["Title"] = "Index";
}

<h1>Overview Timeoff Policies of employee</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Apply Timeoff Policy for employee</a>
</p>
<table class="table table-bordered table-info table-hover table-striped">
      <thead >
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Personnel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOffPolicy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDaysOffLastYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDaysOffStandard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDaysOffSeniority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDaysOffOffset)
            </th>
            <th>
                Total
            </th>
            <th >
               <div style="width: 200px;" class="container"> @Html.DisplayNameFor(model => model.Note) </div>
            </th>
            <th colspan="2">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Personnel.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOffPolicy.TimeOffPolicyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDaysOffLastYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDaysOffStandard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDaysOffSeniority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDaysOffOffset)
                </td>
                @{
                    var total = item.NumberOfDaysOffLastYear + item.NumberOfDaysOffStandard + item.NumberOfDaysOffSeniority + item.NumberOfDaysOffOffset;
                    <td>
                        @total
                    </td>
                }
                <td>
                   @Html.DisplayFor(modelItem => item.Note)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { personnalId=item.PersonnelId,policyId=item.TimeOffPolicyId}, new {@class="btn btn-primary"}  )
                </td>
               
                <td>
                    @Html.ActionLink("Delete", "Delete", new {  personnalId=item.PersonnelId,policyId=item.TimeOffPolicyId }, new {@class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>