@model IEnumerable<TimeKeeping.Models.ChinhSachNghiPhep>

@{
    ViewData["Title"] = "List of timeoff policy";
}

<h3>List of timeoff policy</h3>

<p>
    <a asp-action="Create">Create new timeoff policy</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TenChinhSach)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SoLuongPhepChuanNam)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SoLuongPhepTon)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MoTa)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MaLoaiChinhSachNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Xoa)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.TenChinhSach)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SoLuongPhepChuanNam)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SoLuongPhepTon)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MoTa)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MaLoaiChinhSachNavigation.TenLoaiChinhSach)
			</td>
			<td>
				@{
					// Use a variable for save timeoff sate.
					string display;
					if (item.Xoa == true)
					{
						display = "Using";
					}
					else
					{
						display = "Don't use";
					}
				}
				@display
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.MaChinhSachNghiPhep">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.MaChinhSachNghiPhep">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.MaChinhSachNghiPhep">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
