@model IEnumerable<TimeKeeping.Models.TimeOffPolicy>

@{
	ViewData["Title"] = "Timeoff policy list";

	int count = 0;
	foreach (var item in Model)
	{
		if (item.Active == true)
		{
			count++;
		}
	}
}

<link href="~/css/button-style.css" rel="stylesheet" />

<form asp-action="Index" method="post">
	<div class="form-actions no-color">
		<div class="form-group row">
			<div class="col-2">
				<label class="form-label">Find by name:</label>
			</div>
			<div class="col-5">
				<input type="text" name="name" value="@ViewData["name"]" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label class="form-label">Find by type:</label>
			</div>
			<div class="col-5">
				<select asp-items="ViewBag.TypePolicyId" name="type" class="form-control">
					<option value=""></option>
				</select>
			</div>
		</div>
	</div>
	<input type="submit" value="Search" class="btn btn-outline-primary" />
	<a class="btn btn-outline-primary" asp-action="Index">Full list</a>
</form>

<h1 class="text-center">Timeoff policy list</h1>
<p>
	<a class="btn btn-primary" asp-action="Create">Create</a>
</p>

@{
	if (count == 0 || count == 1)
	{
		<h5>@count timeoff policy</h5>
	}
	else
	{
		<h5>@count timeoff policies</h5>
	}
}


<table class="table table-bordered table-hover">
	<thead class="bg-success">
		<tr>
			<th class="align-middle">
				<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.TimeOffPolicyName)</a>
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.NumberOfDaysOffStandard)
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.NumberOfDaysOffLastYear)
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.Describe)
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.TypePolicy)
			</th>
			<th class="align-middle">
				<a asp-action="Index" asp-route-sortOrder="@ViewData["ActiveParm"]">@Html.DisplayNameFor(model => model.Active)</a>
			</th>
			<th colspan="2" class="text-center">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			if (item.Active == true)
			{
				<tr class="table-success">
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.TimeOffPolicyName)
					</td>
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.NumberOfDaysOffStandard)
					</td>
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.NumberOfDaysOffLastYear)
					</td>
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.Describe)
					</td>
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.TypePolicy.TypePolicyName)
					</td>
					<td class="align-middle">
						@*@Html.DisplayFor(modelItem => item.Del)*@
						@{
							string displayDeleteSate;
							if (item.Active == true)
							{
								displayDeleteSate = "Active";
							}
							else
							{
								displayDeleteSate = "Inactive";
							}
						}
						@displayDeleteSate
					</td>
					<td class="align-middle">
						<a asp-action="Edit" asp-route-id="@item.TimeOffPolicyId" class="btn btn-info">Edit</a>
					</td>
					@*<td class="align-middle">
						<a asp-action="Details" asp-route-id="@item.TimeOffPolicyId" class="btn btn-info">Details</a>
					</td>*@

					<td>
						<a class="btn btn-outline-danger" onclick="deleteAlert()" asp-action="Delete" asp-route-id="@item.TimeOffPolicyId">Delete</a>
					</td>

				</tr>
			}
		}
	</tbody>
</table>

<script>
	function deleteAlert() {
		alert("Delete successful!");
	}

	function restoreAlert() {
		alert("Restore successful!");
	}
</script>