@model IEnumerable<TimeKeeping.Models.Shift>;

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.DaysOfWeek.DaysOfWeekName)
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.ShiftName)
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.EndTime)
			</th>
			<th class="align-middle">
				@Html.DisplayNameFor(model => model.Active)
			</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var item in Model)
			{
				<tr>
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.DaysOfWeek.DaysOfWeekName)
					</td>
					<td class="align-middle">
						@Html.DisplayFor(modelItem => item.ShiftName)
					</td>
					<td class="align-middle">
						@item.StartTime.ToString("HH:mm")
					</td>
					<td class="align-middle">
						@item.EndTime.ToString("HH:mm")
					</td>
					<td class="align-middle">
						@{
							string activeState;
							if (item.Active == true)
							{
								activeState = "Active";
							}
							else
							{
								activeState = "Inactive";
							}
						}
						@activeState
					</td>
				</tr>
			}
		}
	</tbody>
</table>
@*@{
		foreach (var item in Model)
		{
			<dl class="row">
				<dt class="col-sm-3">
					@Html.DisplayNameFor(modelItem => item.ShiftName)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(modelItem => item.ShiftName)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(modelItem => item.StartTime)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(modelItem => item.StartTime)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(modelItem => item.EndTime)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(modelItem => item.EndTime)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(modelItem => item.DayOff)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(modelItem => item.DayOff)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(modelItem => item.Del)
				</dt>
				<dd class="col-sm-9">
					@{
						string deleteState;
						if (true)
						{
							deleteState = "Using";
						}
						else
						{
							deleteState = "Don't use";
						}
					}
					@deleteState;
				</dd>
			</dl>
		}
	}*@