@model TimeKeeping.Models.WorkSchedule

@{
	ViewData["Title"] = "Work Schedule: " + @Model.WorkScheduleName;
}

<link href="~/css/button-style.css" rel="stylesheet" />

<div>
	<h4>Work Schedule: @Model.WorkScheduleName</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.WorkScheduleName)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.WorkScheduleName)
		</dd>
		@*<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.RequireCheckout)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.RequireCheckout)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.WorkingHoursPerDay)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.WorkingHoursPerDay)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.MinutesLate)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.MinutesLate)
		</dd>
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.MinutesEarly)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.MinutesEarly)
		</dd>*@
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.TypeWorkSchedule)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.TypeWorkSchedule.TypeWorkScheduleName)
		</dd>
		@*<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.States)
		</dt>
		<dd class="col-sm-9">
			@Html.DisplayFor(model => model.States)
		</dd>*@
		<dt class="col-sm-3">
			@Html.DisplayNameFor(model => model.Active)
		</dt>
		<dd class="col-sm-9">
			@{
				string displayDeleteState;
				if (Model.Active == true)
				{
					displayDeleteState = "Active";
				}
				else
				{
					displayDeleteState = "Inactive";
				}
			}
			@displayDeleteState
		</dd>
	</dl>
</div>

@Html.Partial("_ShiftsInWorkSchedulePartial", Model.Shifts)

<div>
	<a asp-action="Edit" asp-route-id="@Model.WorkScheduleId" class="btn btn-secondary" >Edit</a> |
	<a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
