@model TimeKeeping.Models.Personnel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Personnel</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ActualSalary)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ActualSalary)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.BasicSalary)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.BasicSalary)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StartDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StartDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OfficialDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OfficialDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DateOfBirth)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DateOfBirth)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Phone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Phone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Sex)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Sex)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PersonnelAddress)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PersonnelAddress)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Active)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Active)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Office)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Office.OfficeId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Position)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Position.PositionId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SalaryPolicy)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SalaryPolicy.SalaryPolicyId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TypePersonnel)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TypePersonnel.TypePersonnelId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.WorkSchedule)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.WorkSchedule.WorkScheduleId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.WorkingArea)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.WorkingArea.WorkingAreaId)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.PersonnelId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>