@model TimeKeeping.ViewModels.Personnels.PersonnelDetailModel

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #f9f9f9;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #fdfeff;
        opacity: 1;
    }
</style>

<h1 class="text-center mb-3">Personnel Information</h1>

<div class="row justify-content-md-between">
    <div class="col-md-3 bg-white py-3 rounded">
        <div class="text-center mb-3">
            <img src="~/storage/images/ava.jpg" class="w-100" alt="avatar" />
        </div>
        <p class="font-weight-bold text-center">@Model.Position.PositionName</p>
    </div>
    <div class="col-md-9 row bg-white py-3 rounded">
        <div class="col-12">
            <p class="font-weight-bold text-primary">Personal Infformation</p>
        </div>
        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input type="text" class="form-control" value="@Model.LastName" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input type="text" class="form-control" value="@Model.FirstName" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="Sex"></label>
                <input type="text" class="form-control" value="@(Model.Sex ? "Male" : "Female")" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input type="text" class="form-control" value="@Model.DateOfBirth.Date" readonly>
            </div>
        </div>

        <div class="col-12 px-3">
            <div class="form-group">
                <label asp-for="PersonnelAddress"></label>
                <input type="text" class="form-control" value="@Model.PersonnelAddress" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input type="text" class="form-control" value="@Model.Title" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input type="text" class="form-control" value="@Model.Phone" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" class="form-control" value="@Model.Email" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="Office"></label>
                <input type="text" class="form-control" value="@Model.Office.OfficeName" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="BasicSalary"></label>
                <input type="text" class="form-control" value="@Model.BasicSalary" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="ActualSalary"></label>
                <input type="text" class="form-control" value="@Model.ActualSalary" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input type="text" class="form-control" value="@Model.StartDate.Date" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="OfficialDate"></label>
                <input type="text" class="form-control" value="@(Model.OfficialDate.HasValue ? Model.OfficialDate.Value.Date : "")" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="SalaryPolicy"></label>
                <input type="text" class="form-control" value="@Model.SalaryPolicy.SalaryPolicyName" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="TypePersonnel"></label>
                <input type="text" class="form-control" value="@Model.TypePersonnel.TypePersonnelName" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="WorkSchedule"></label>
                <input type="text" class="form-control" value="@Model.WorkSchedule.WorkScheduleName" readonly>
            </div>
        </div>

        <div class="col-6 px-3">
            <div class="form-group">
                <label asp-for="WorkingArea"></label>
                <input type="text" class="form-control" value="@Model.WorkingArea.WorkingAreaName" readonly>
            </div>
        </div>
    </div>
    <div class="text-right mt-2 col-12">
        <a asp-action="Edit" asp-route-id="@Model.PersonnelId" class="btn btn-success">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>