@model IEnumerable<TimeKeeping.Models.TimeOffRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequireHandOver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandOverWorks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOffDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Del)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormTimeOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOffRequestState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequireHandOver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandOverWorks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOffDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Del)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormTimeOff.FormTimeOffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.PersonnelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personnel.PersonnelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOffRequestState.TimeOffRequestStateId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeOffRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeOffRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeOffRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
