@model QuanLyChamCong_Demo.Models.ChinhSachNghiPhep

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChinhSachNghiPhep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChinhSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChinhSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongPhepChuanNam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongPhepChuanNam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongPhepTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongPhepTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiChinhSachNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiChinhSachNavigation.MaLoaiChinhSach)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaChinhSachNghiPhep">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
