@using TimeKeeping.Models
@model IEnumerable<TimeKeeping.Models.TimeOffRequest>

@{
    ViewData["Title"] = "Index";
    TimeKeepingDBContext context = new TimeKeepingDBContext();
    var status = context.TimeOffRequestStates;

    var stylebtn = "btn btn-outline-primary";
    var disable = "";
}
<style>
    .btn{
        width:100px;
    }
</style>

<div class="container">
    <h1>List Timeoff request</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Personnel Name
                </th>
                <th>
                    TimeOff Date
                </th>
                <th>
                    Status
                </th>
                <th class="text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
                <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TimeOffRequestId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                    <td>
                        @{
                        var pers = context.Personnel.SingleOrDefault(p => p.PersonnelId == item.PersonnelId);
                            var name = pers.LastName + " " + pers.FirstName;
                        }
                    @name
                </td>
                <td>
                    @{
                        var date = item.TimeOffDate.ToShortDateString();
                    }
                    @date
                </td>
                <td>
                    @{
                        var statustable = context.TimeOffRequestStates.SingleOrDefault(p => p.TimeOffRequestStateId == item.TimeOffRequestStateId).TimeOffRequestStateName;
                      }
                    @statustable
                </td>
                <td class="text-center">
                    @foreach (var sta in status)
                        {
                            if (@sta.TimeOffRequestStateId == item.TimeOffRequestStateId)
                            {
                                stylebtn = "btn btn-primary";
                                <button class="btn btn-outline-secondary" type="button" disabled>@sta.TimeOffRequestStateName</button>
                            }
                            else
                            {
                                stylebtn = "btn btn-primary";
                                @Html.ActionLink(@sta.TimeOffRequestStateName, "UpdateStatus", "ApproveTimeoff",
                                    new {
                                        id = @item.TimeOffRequestId,
                                        status=@sta.TimeOffRequestStateId
                                    },
                                    new{
                                        @class= stylebtn,
                                        style="width:200",
                                        onclick="return confirm('Are you sure?');"
                                    }
                                ) 
                            }
                            <span> </span>
                        }
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>


